
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.button-container {
  padding: 15px;
}

.container {
  width: 700px;
  height: 700px;
  display: flex;
  flex-wrap: wrap;
  background-color: whitesmoke;
  border: 2px solid black;


}

.cell {
  box-sizing: border-box;
  background-color: white;
  width: var(--cell-size);
  height: var(--cell-size);
  padding: 0;
  margin: 0;
}


.hover-on {
  background-color: var(--hover-color);

}
